In [1]:
import pandas as pd
import matplotlib as mply
import seaborn as sbn
import numpy as np
import requests
import time
import json
from config import api
from pandas import DataFrame

In [2]:
cities = pd.read_csv("worldcities.csv")
cities
cities.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [3]:
cities_sample = cities.sample(n=5, frac=None, replace=False, weights=None, random_state=None, axis=None)

In [4]:
cities_sample.head()

      Country        City   Latitude   Longitude
36154      ru    kamyshla  54.116933   52.142617
21721      jp      ryotsu  38.083333  138.433333
17259      in     bhinmal  25.000000   72.250000
5783       cm        mora  11.042500   14.144722
5344       ch  freienbach  47.204077    8.756933

In [5]:
weather_dict={
    "City": cities_sample.City,
    "lat": cities_sample.Latitude,
    "lon": cities_sample.Longitude}
weather_dict

{'City': 36154      kamyshla
 21721        ryotsu
 17259       bhinmal
 5783           mora
 5344     freienbach
 Name: City, dtype: object, 'lat': 36154    54.116933
 21721    38.083333
 17259    25.000000
 5783     11.042500
 5344     47.204077
 Name: Latitude, dtype: float64, 'lon': 36154     52.142617
 21721    138.433333
 17259     72.250000
 5783      14.144722
 5344       8.756933
 Name: Longitude, dtype: float64}

In [6]:

cities_sample['temperature'] = ""
cities_sample['humidity'] = ""
cities_sample['cloudiness'] = ""
cities_sample['wind speed'] = ""

In [7]:
cities_sample.head()

,Country,City,Latitude,Longitude,temperature,humidity,cloudiness,wind speed
36154,ru,kamyshla,54.116933,52.142617,,,,
21721,jp,ryotsu,38.083333,138.433333,,,,
17259,in,bhinmal,25.000000,72.250000,,,,
5783,cm,mora,11.042500,14.144722,,,,
5344,ch,freienbach,47.204077,8.756933,,,,

In [13]:
for Cities in cities_sample:
    
    lat = cities_sample['Latitude']
    lon = cities_sample['Longitude']
    
    api = api
    url = f"http://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={api}" 
    temp_cities = requests.get(url).json()

temp_cities
print(json.dumps(temp_cities, sort_keys=True, indent=4, separators=(',', ': ')))

{
    "base": "stations",
    "clouds": {
        "all": 1
    },
    "cod": 200,
    "coord": {
        "lat": 40.77,
        "lon": -73.95
    },
    "dt": 1522732500,
    "id": 7250946,
    "main": {
        "humidity": 69,
        "pressure": 1023,
        "temp": 274.39,
        "temp_max": 277.15,
        "temp_min": 271.15
    },
    "name": "Carnegie Hill",
    "sys": {
        "country": "US",
        "id": 2121,
        "message": 0.1678,
        "sunrise": 1522751741,
        "sunset": 1522797775,
        "type": 1
    },
    "visibility": 16093,
    "weather": [
        {
            "description": "clear sky",
            "icon": "01n",
            "id": 800,
            "main": "Clear"
        }
    ],
    "wind": {
        "deg": 175,
        "speed": 1.81
    }
}